{% load staticfiles i18n %}<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">

    {% block css %}
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:400,300,500,700&amp;subset=latin,latin-ext">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
    <link rel="stylesheet" type="text/css" href="{% static 'libraries/Font-Awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'libraries/bootstrap-select/dist/css/bootstrap-select.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'libraries/bootstrap-fileinput/css/fileinput.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'libraries/nvd3/nv.d3.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'libraries/OwlCarousel/owl-carousel/owl.carousel.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/realsite.css' %}">
    {% endblock %}

    <title>{% block title %}militaryhomes{% endblock title %}</title>
</head>

<body>
<div class="page-wrapper">

  {% include "_topnav.html" %}
    
  {% block content %}{% endblock content %}

  {% include "_footer.html" %}

</div><!-- /.page-wrapper-->

<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'libraries/jquery-transit/jquery.transit.js' %}"></script>

<script type="text/javascript" src="{% static 'libraries/bootstrap/assets/javascripts/bootstrap/dropdown.js' %}"></script>
<script type="text/javascript" src="{% static 'libraries/bootstrap/assets/javascripts/bootstrap/collapse.js' %}"></script>
<script type="text/javascript" src="{% static 'libraries/bootstrap-select/dist/js/bootstrap-select.min.js' %}"></script>
<script type="text/javascript" src="{% static 'libraries/bootstrap-fileinput/js/fileinput.min.js' %}"></script>

<script type="text/javascript" src="{% static 'libraries/autosize/jquery.autosize.js' %}"></script>
<script type="text/javascript" src="{% static 'libraries/isotope/dist/isotope.pkgd.min.js' %}"></script>
<script type="text/javascript" src="{% static 'libraries/OwlCarousel/owl-carousel/owl.carousel.min.js' %}"></script>
<script type="text/javascript" src="{% static 'libraries/jquery.scrollTo/jquery.scrollTo.min.js' %}"></script>

<script src="https://maps.googleapis.com/maps/api/js?libraries=weather,geometry,visualization,places,drawing&amp;sensor=false" type="text/javascript"></script>
<script type="text/javascript" src="{% static 'libraries/jquery-google-map/infobox.js' %}"></script>
<script type="text/javascript" src="{% static 'libraries/jquery-google-map/markerclusterer.js' %}"></script>
<script type="text/javascript" src="{% static 'libraries/jquery-google-map/jquery-google-map.js' %}"></script>

<script type="text/javascript" src="{% static 'libraries/nvd3/lib/d3.v3.js' %}"></script>
<script type="text/javascript" src="{% static 'libraries/nvd3/lib/d3.v3.js' %}"></script>
<script type="text/javascript" src="{% static 'libraries/nvd3/nv.d3.min.js' %}"></script>

<script type="text/javascript" src="{% static 'js/realsite.js' %}"></script>
<script type="text/javascript" src="{% static 'js/charts.js' %}"></script>
<script type="text/javascript" src="{% static 'js/map.js' %}"></script>

</body>
</html>